.main-container{
    display: flex;
    width: 50%;
    background-color: #fff;

    justify-content: space-between;
}
body{
    margin: 0;
}
#root{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    height: 100vh;

}
.main-container__body{
    width: 70%;
    padding: 20px;
}
.main-container__title{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.main-container__content{
    padding-top: 10px;
}
.main-container__aside{
    width: 30%;
    background-color: #f7f7f7;
    padding: 20px;
}